@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  
}

header {
  background-color: cadetblue;
  height: 300px;
  display: flex;

  
}

h1 {
  width: clamp(250px, 50%, 500px);
  text-align: center;
  margin: auto;
  padding: 20px;
  font-family: cursive;
  font-size: 3em;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.534);
  border-radius: 5px;

}

main {
  background-color: rgb(209, 207, 207);
  height: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15px;
}

.container-list {
  border: 2px solid rgba(0, 0, 0, 0.678);
  flex-basis: 600px;
  box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.534);
  border-radius: 5px;
  padding: 1px;
  

}

h2 {
  text-align: center;
  background-color: dimgray;
  border-bottom: 2px solid black;
  color: white;
  padding: 10px 0px;
  
}

.box-contact {
  height: 400px;
  overflow-y: scroll;
  padding: 2px;
    
}

.contacts {
  border-bottom: 2px solid darkgray;
  background-color: white;
  height: 120px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
 
}

.contacts:hover {
  background-color: rgba(124, 124, 124, 0.521);
}

.contact-img {
  order: 1;  
  flex-grow: 2;
  padding: 20px 10px 10px 10px;

}

img {
  width: 80px;
  border-radius: 50%;
}

.info {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 10px 10px 10px;
  flex-grow: 2;
  font-size: clamp(0.8rem, 1rem, 1.3rem);
  
}

p {
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
}

